.support-placeholder{
  display: none;
}
table th .glyphicon-chevron-up,
table th .glyphicon-chevron-down{
  margin: 0 4px;
}
label.error{
  float: left;
  clear: both;
}
.auth-box{
  overflow: visible;
}
.auth-box .create-account{
  margin: 6px 20px 0 20px;
}
.login-form .modal-body{
  padding-left: 230px;
  background: url(../images/lock_128x128.png) 40px 20px no-repeat;
}
.login-form .control-remember{
  padding-top: 12px
}
.login-form .modal-footer {
  text-align: left;
  padding-left: 230px;
}
.login-form .forgot-password{
  position: relative;
  margin-top: 4px;
  margin-left: -200px;
}
.account-profile #profile_birthday_day,
.account-registration #reg_birthday_day{
  width: 68px;
}
.account-profile #profile_birthday_month,
.account-registration #reg_birthday_month{
  width: 120px !important;
}
.account-profile #profile_birthday_year,
.account-registration #reg_birthday_year{
  width: 88px;
}
.account-profile #profile_timezone_area{
  width: 120px;
}
.account-profile #profile_timezone_value{
  margin-left: 4px;
  width: 130px;
}



.control-captcha input{
  width: 129px;
}
.control-captcha .glyphicon-refresh{
  margin-top: 2px;
}
.control-captcha .help-block{
  margin-top: 9px;
  margin-bottom:4px;
}

.input-group-addon .blackPopup{
  margin-left: -13px;
  margin-top: -118px !important;
}
.input-group-addon .formErrorContent{
  text-align: left;
  text-shadow: none;
}

.icon-location-flag{
  background: url(../images/flags.gif) left top no-repeat;
  margin: 2px 4px;
  width: 16px;
  height: 11px;
  display: block;
  float: left;
}
.ui-autocomplete{
  list-style: none;
  padding-left:0;
  padding-right: 0;
  z-index: 1009;
}
.ui-autocomplete .ui-menu-item{
  list-style: none;
  margin:0;
  padding:2px 4px 2px 10px;
  border: none;
}
.ui-autocomplete .ui-state-focus{
  background-image: none;
  background-color: #EEEEEE;
}
.ui-autocomplete-mobile-phone-location {
  width: 460px;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  /*padding-right: 20px;*/
}
.ui-autocomplete-mobile-phone-location .icon-location-flag{
  margin: 5px 10px 0 2px;
}
.ui-autocomplete-mobile-phone-location .phone-location-code{
  color: #999999;
}
.ui-autocomplete-mobile-phone-location .ui-menu-item a:hover{

  border: none !important;
  margin: 0 !important;
}

/*---------- Backend
------------------------------------------*/
.account-manager .actions-column{
  min-width: 260px;
  width: 260px;
}
.account-filter{
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 0;
}
.account-filter .form-group{
  margin-right: 10px;
  margin-bottom: 10px;
}
/*--------- Tablet
------------------------- */
@media (max-width: 979px) {
  .account-manager .actions-column{
    min-width: 188px;
    width: 188px;
  }
}
/*--------- End of Tablet
--------------------------*/
