<?php

//return array();

return array(
    'routes' => array(
        '/' => array(
            'action' => array(
                'class' => 'Setup',
                'method' => 'checkSettings',
            ),
            'view' => array(
                'lang_iso2' => 'en',
                'layout_template' => 'application/layout-frontend.tpl',
                'title' => 'Joodee Framework - Setup',
                'filter' => array(),
                'meta' => array(
                    array('name' => 'robots', 'content' => 'noindex,nofollow', 'indent' => '  '),
                ),
                'links' => array(),
                'scripts' => array(),
            ),
        ),
    ),
);
