/* -- Sticky footer styles
------------------------------------------------- */
html{
  height: 100%;
}
body {
  display: inline;
  position: inherit;
  height: 100%;
  width: 100%;
  padding-top: 0px;
  background-color: #f1f1f1;
}

#sticky_footer_wrap {
  position: inherit;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto;
}
/* -- End of sticky footer styles
------------------------------------------------ */

section{
  padding-top: 30px;
}

.popover{
  z-index: 1300;
}
.navbar-fixed-top .container-fluid{
  min-width: 840px;
}
.navbar .brand {
  white-space: nowrap;
  font-weight: bold;
}
.btn-navbar{
  margin-top: 0 !important;
}

.navbar-fixed-top .nav li a{
  white-space: nowrap;
}
.navbar-fixed-top .authnavlink .icon-white{
  margin: 2px 4px 0 4px;
}
.navbar-fixed-top .authnavlink{
  font-weight: bold;
}
.navbar-fixed-top .authnavlink .caret{
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
.navbar-fixed-top .open .authnavlink .caret{
  border-top-color: #0088CC !important;
  border-bottom-color: #0088CC !important;
}

#header_container,
#navbar_container{
  padding-left: 20px;
  padding-right: 20px;
}
.area-backend #header_container{
  padding-left: 40px;
}
#content_container{
  padding: 30px 20px 20px;
}
.controller{
  background-color: #ffffff;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 500px;
}
.page-setup{
  min-height: 400px;
}
.page-blank{
  min-height: 500px;
}
.area-backend .controller{
  min-height: 560px;
  overflow: hidden;
}
.area-public .sidebar{
  background-color: #ffffff;
}
.area-public .sidebar-right{
  min-height: 260px;
  padding-top: 0;
}
.area-backend .sidebar{
  background-color: #ffffff;
}
.area-backend .sidebar-dashboard{
  min-height: 140px;
}

.captcha-image{
  border: 1px solid #999999;
}
label{
  padding-right: 10px;
}
label.valid {
  /*width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url(../images/valid.png) center center no-repeat;
  display: inline-block;*/
  display: none !important;
}
label.error {
  color: #B94A48;
  margin-top: 2px;
  white-space: normal;
  float: left;
  clear: both;
}
.error option,
.success option{
  color: #555555;
}
.display-inline{
  display: inline-block;
  *display: inline;
}
.tooltip{
  white-space: normal;
}

#header{
  display: table;
  width: 100%;
  position: relative;
  padding: 60px 0 20px 0;
  color: #ffffff;
  background: #264955 url(/module/demo/images/background-head.gif) left top repeat;

  border-bottom: 1px solid;
  border-bottom-color: rgba(30, 80, 93, 1);

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(30, 80, 93, 1);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(30, 80, 93, 1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(30, 80, 93, 1);
}

/* Pattern overlay
------------------------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  #header:after {
    background-size: 150px 150px;
  }
}


/* -- Sidenav
------------------------------------------------ */

.sidenav-left {
  padding: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.sidebar-left{
  width: 210px;
}
.sidebar-right{
  width: 170px;
}

.sidenav-left > li > a {
  background-color: #fff;
  display: block;

  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bolder;
  font-family: Verdana;
}
.sidenav-left > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.sidenav-left > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.sidenav-left > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.sidenav-left .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav-left > li > a:hover {
  background-color: #f5f5f5;
}
.sidenav-left a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav-left .active .icon-chevron-right,
.sidenav-left .active a:hover .icon-chevron-right {

  opacity: 1;
}
.sidebar-affix.affix {
  top: 60px;
}

/* -- Responsive
------------------------------------------------ */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .sidebar-left {
    width: 260px;
  }
  .sidebar-right{
    width: 220px;
  }
  .sidenav-left > li > a {
    font-size: .9em;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  .navbar-fixed-top{
    position: absolute;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-fixed-top .container,
  .navbar-fixed-top .container-fluid{
    min-width: 400px;
  }
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* -- Tablet to desktop
------------------------------------------------ */
@media (min-width: 768px) and (max-width: 979px) {

  .sidebar-left {
    width: 156px;
  }
  .sidebar-right{
    width: 116px;
  }
  .sidenav-left > li > a {
    font-size: .7em;
  }
  .sidebar-affix.affix {
    top: 20px;
  }
}

/* -- Tablet
---------------------------------- */
@media (max-width: 767px) {

  body{
    padding-left: 0;
    padding-right: 0;
  }

  #header .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar-left {
    width: auto !important;
    margin-bottom: 20px;
  }

  .sidebar-affix.affix {
    position: static;
    width: auto;
    top: 0;
  }

  .area-public .sidebar-right {
    min-height: 120px;
  }

  .area-backend .controller{
    min-height: 260px;
  }
}

/* -- Landscape phones
----------------------------------------- */
@media (max-width: 480px) {

  #header h1 {
    font-size: 32px;
    text-align: center;
  }
  #header p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
}


/* -- .row-fluid > .input-block-level & .span_ height on IE7-8 bug hacked
-------------------------------------------------------------------------*/
.input-block-level,
.row-fluid [class*="span"] {
  min-height: 20px;
}

@media (min-width: 0) {
  .input-block-level,
  .row-fluid [class*="span"] {
    min-height: 30px;
  }
}
/* -- /.row-fluid > .input-block-level & .span_ height on IE7-8 bug hacked
-------------------------------------------------------------------------*/
